<div *ngIf="router.url === '/'; else otherContent">
  
<div class="container mt-5">
  <div *ngIf="address; else connectBlock">
    <div class="d-flex justify-content-center mb-4">
      <a class="btn btn-primary mx-2" [routerLink]="['/']">Your Account</a>
      <a class="btn btn-primary mx-2" [routerLink]="['/auction-house']">Auction House</a>
    </div>
    
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title">Connected Account</h3>
        <p><strong>Address:</strong> {{ address }}</p>
        <p><strong>Balance:</strong> {{ balance }} SepoliaETH</p>
        <button class="btn btn-danger" (click)="disconnect()">Disconnect</button>
      </div>
    </div>
    <div class="mb-4">
      <app-user-profile [userAddress]="address"></app-user-profile>
    </div>
  </div>

  <ng-template #connectBlock>
    <div class="text-center">
      <button class="btn btn-primary" (click)="connectToMetaMask()">Connect to MetaMask</button>
    </div>
  </ng-template>
</div>

</div>

<ng-template #otherContent>
  <router-outlet></router-outlet>
</ng-template>


