<!-- auction-house.component.html -->
<div>
  <h2>Auction House</h2>

  <div *ngIf="owner">
    <p>Contract Owner: {{ owner }}</p>
  </div>
  <div>
    <p>House Balance: {{ houseBalance }} ETH</p>
    <p>House Fee: {{ houseFee }}%</p>
  </div>

  <div>
    <h3>Create Auction</h3>
    <form (ngSubmit)="createAuction()">
      <label for="auctionItem">Item: </label>
      <input id="auctionItem" [(ngModel)]="newAuctionItem" name="auctionItem" required>
      <br>
      <label for="auctionDuration">Duration (minutes): </label>
      <input id="auctionDuration" type="number" [(ngModel)]="newAuctionDuration" name="auctionDuration" required>
      <br>
      <button type="submit">Create Auction</button>
    </form>
  </div>

  <div>
    <h3>Auctions</h3>
    <div *ngFor="let auction of auctions; let i = index">
      <p>Auction {{ i + 1 }}</p>
      <p>Item: {{ auction.auctionItem }}</p>
      <p>Owner: {{ auction.auctionOwner }}</p>
      <p>Start Time: {{ auction.startTime.toString() }}</p>
      <p>End Time: {{ auction.endTime.toString() }}</p>
      <p>Number of Bids: {{ auction.bids.length }}</p>
      <p *ngIf="auction.bids.length > 0">Highest Bid: {{ web3.utils.fromWei(auction.bids[auction.bids.length - 1], 'ether') }} ETH</p>
      <p *ngIf="auction.bids.length === 0">No bids yet</p>
      <button (click)="toggleBids(i)">{{ showBids[i] ? 'Hide' : 'Show' }} Bids</button>
      <div *ngIf="showBids[i]">
        <h4>Bids</h4>
        <ul>
          <li *ngFor="let bid of auction.bids; let j = index">
            {{ j + 1 }}: {{ web3.utils.fromWei(bid, 'ether') }} ETH by {{ auction.bidders[j] }}
          </li>
        </ul>
      </div>
      <form (ngSubmit)="placeBid(i)">
        <label for="bidAmount">Bid Amount (ETH): </label>
        <input id="bidAmount" type="number" [(ngModel)]="bidAmount" name="bidAmount" required>
        <button type="submit">Place Bid</button>
      </form>
      <button (click)="getHighestBid(i)">Get Highest Bid</button>
      <p *ngIf="highestBid && highestBid.bidder">{{ highestBid.value }} ETH by {{ highestBid.bidder }}</p>
    </div>
    
</div>
